<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMasterPage.master.cs" Inherits="MEApp.MasterPages.AdminMasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HRMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="../Admin/AdminDashboard.aspx">Admin Dashboard<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/UserRegister.aspx">User Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/UserList.aspx">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/SalaryStructure.aspx">Salary Structure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/AddEmployee.aspx">Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/ViewEmployees.aspx">View Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/TrainingSection.aspx">Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/EventPage.aspx">Event Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/ProjectPage.aspx">Project Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/PerformancePage.aspx">Performance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/LeaveAprrovals.aspx">Leave Aprrovals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/PayslipUpload.aspx">Payslip Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/ViewPayslips.aspx">View Payslips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/UploadForm16.aspx">Uplod Form 16</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/ViewForm16.aspx">View Form 16</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/LeavePolicy.aspx">Leave Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/LeaveApprovals.aspx">Leave Approvals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/LeaveReport.aspx">Leave Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../Admin/AppraisalForm.aspx">Appraisal Form</a>
                </li>
            </ul>
        </div>
    </nav>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>

</body>
</html>
